<div class="page-container">
  <div class="navigation-wrapper">
    <div class="keen-slider keen-slider--vertical" #sliderRef>
      <div class="keen-slider__slide zoom-out__slide"
           *ngFor="let src of images">
        <div class="image-container">
          <img [src]="[src]" alt=""/>
        </div>
      </div>
    </div>
    <svg class="arrow arrow--left"
         *ngIf="slider"
         (click)="slider.prev()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/>
    </svg>
    <svg class="arrow arrow--right"
         *ngIf="slider"
         (click)="slider.next()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
  <div class="dots"
       *ngIf="slider">
    <button (click)="slider.moveToIdx(i)"
            *ngFor="let slide of images; let i = index"
            [class]="'dot ' + (i === currentSlide ? 'active' : '')"></button>
  </div>
</div>

