<app-spinner-wrapper [spinner]="spinner">
  <h2 id="title" mat-dialog-title>{{ 'auth.signIn' | transloco }}</h2>
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-card *ngIf="badCredentials" appearance="outlined">
        <mat-card-content>
          {{ 'auth.badCredentials' | transloco }}
        </mat-card-content>
      </mat-card>
      <mat-form-field>
        <mat-icon matSuffix>person</mat-icon>
        <mat-label>{{ 'field.username' | transloco }}</mat-label>
        <input matInput
               formControlName="username">
                <mat-error>{{ getError('username') }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'field.password' | transloco }}</mat-label>
        <input matInput
               [type]="hidePassword ? 'password' : 'text'"
               formControlName="password">
        <button mat-icon-button
                matSuffix
                type="button"
                id="password-visibility-toggle"
                (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
                <mat-error>{{ getError('password') }}</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="actions-container">
      <button class="login-button"
              mat-flat-button
              [disabled]="spinner === Visibility.VISIBLE"
              (click)="login()">
        {{ 'auth.signIn' | transloco }}
      </button>
      <div class="social-media-button-container">
        <button class="social-media-icon-button"
                mat-icon-button>
          <mat-icon svgIcon="google"></mat-icon>
        </button>
        <button class="social-media-icon-button"
                mat-icon-button>
          <mat-icon svgIcon="facebook"></mat-icon>
        </button>
      </div>

      <mat-divider/>

      <div class="actions-footer">
        <h4>
          {{ 'auth.notHaveAccount' | transloco }}
          <a (click)="register()">
            {{ 'auth.imperativeSignUp' | transloco }}
          </a>
        </h4>
      </div>
    </div>
  </mat-dialog-actions>
</app-spinner-wrapper>


